@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

	@{
	Layout = "_Master.cshtml";
	}
	<div class="container">
		<div class="row">
			<div class="span4 offset4 well">
				<legend>Patch Runner</legend>
				@if(ViewBag.HasError)
				{
				<div id="signin-fail" class="alert alert-error">@ViewBag.ErrorMessage</div>
				}
				<form method="post">
					<input type="text" name="username" class="span4" placeholder="Username" value="biofractal">
					<input type="password" name="password" class="span4" placeholder="Password" value="G*w56qY%-8sA">
					<div class="text-center" style="padding-top:10px;">
						<input type="submit" class="btn btn-info" value="Sign in" />
					</div>
				</form>
			</div>
		</div>
	</div>
