@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>
	@{
	Layout = "_Master.cshtml";
	}
	<div class="container">
		<div class="row">
			<div class="span10 well">

				<div class="form-horizontal">
					<h2 style="margin-bottom: 40px;">Patch Runner</h2>
					<div class="control-group">
						<div class="controls">
							<div class="btn-group">
								<button id="recent-view" class="btn"><i class="icon-eye-open"></i> View Recent</button>
								<a href="/logout" class="btn"><i class="icon-off"></i> Sign Out</a>
								<a id="patch-run" href="#" class="btn btn-primary"><i class="icon-play-circle icon-white"></i> Run Patch</a>
							</div>

						</div>
					</div>
					<div class="control-group">
						<label class="control-label label-left">Patches</label>
						<div class="controls">
							<select id="patch-name" class="span6">
								<option value="">Choose a Patch or type to filter</option>
								@foreach (string name in ViewBag.AllPatches.Value)
								{
								<option value="@name">@name</option>
								}
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	@section Partial
	{
	@Html.Partial("Partials/ProgressModal")
	@Html.Partial("Partials/RecentModal")
	}
