

<div id="progress-modal" class="modal hide fade">
	<div class="modal-header">
		<h3 id="progress-name"></h3>
	</div>
	<div class="modal-body">
		<h4 id="progress-percent" class="text-center"></h4>
		<div id="progress-bar-container" class="progress">
			<div class="bar bar-success" id="progress-bar" style="width: 0%;"></div>
		</div>
		<h5>Log</h5>
		<div class="well" style="height: 200px; overflow-y: scroll">
			<div id="progress-log"></div>
		</div>
	</div>
	<div class="modal-footer">
		<a id="patch-close" href="#" class="btn btn-stateful">Close</a>
		<a id="patch-run-again" href="#" class="btn btn-stateful btn-primary">Run Again</a>
	</div>
</div>

