

<div id="recent-modal" class="modal hide fade">
	<div class="modal-header">
		<h3>Recent Patches<a id="recent-clear" href="#" class="btn pull-right">Clear</a></h3>
	</div>
	<div class="modal-body" style="height: 250px">
		<table id="recent" class="table table-striped">
			<thead>
				<tr>
					<th>Date Run</th>
					<th>Patch Name</th>
				</tr>
			</thead>
			<tbody id="recent-list"></tbody>
		</table>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
		<a id="recent-run" href="#" class="btn btn-primary btn-stateful" data-dismiss="modal">Run Again</a>
	</div>
</div>

